.content {
    text-align: center;
    display: block;
}

.text {
    margin-bottom: 25px;
}

.foto1 {
    width: 25%;
    height: 30%;
    margin-right: 25px;
    margin-top: 25px;
    /* margin-left: 25px; */

}

.foto2 {
    width: 25%;
    height: 30%;
    margin-right: 25px;
    margin-left: 25px;
    margin-top: 25px;
}

.foto3 {
    width: 25%;
    height: 30%;
    /* margin-right: 25px; */
    margin-left: 25px;
    margin-top: 25px;
}

.button {
    margin-left: 25%;
    margin-right: 25%;    
    margin-top: 20px;
}
